body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

header,
main,
aside {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}

main {
    display: grid;
    grid-template-columns: 1fr 2fr;
    min-height: 40vh;
}

table {
    width: 100%;
}

form {
    display: flex;
    gap: 0.5rem;
    margin: 0 auto;
}

aside form {
    justify-content: center;
}

main form {
    align-content: stretch;
    flex-direction: column;
}
